# This file will override the configation options in the docker-compose
# file. Copy this file to the same folder as docker-compose as .env

# ----------------------------------------------------------------------
# GENERAL CONFIGURATION
# ----------------------------------------------------------------------

# project name (-p flag for docker-compose)
#COMPOSE_PROJECT_NAME=dev

# ----------------------------------------------------------------------
# TRAEFIK CONFIGURATION
# ----------------------------------------------------------------------

# hostname of server
TRAEFIK_HOST=Host:xxxx;

# Run traffik on port 80 (http) and port 443 (https)
TRAEFIK_HTTP_PORT=80
TRAEFIK_HTTPS_PORT=443
TRAEFIK_HTTPS_OPTIONS=TLS

# enable SSL cerificate generation
TRAEFIK_ACME_ENABLE=true

# Use you real email address here to be notified if cert expires
TRAEFIK_ACME_EMAIL=xxxx

# Always use https, trafic to http is redirected to https
TRAEFIK_HTTP_REDIRECT=Redirect.EntryPoint:https



# ----------------------------------------------------------------------
# POSTGRES CONFIGURATION
# ----------------------------------------------------------------------
DB_TYPE=postgresql
DBUSER = xxxx
DBPASSWORD = xxxx
POSTGRES_DB = xxxx
DB_HOST=database

# ----------------------------------------------------------------------
# IPP USERINFO
# ----------------------------------------------------------------------
SERVER_URL="https://xxxx/"
REALM_NAME=xxxx
CLIENT_ID=xxxx
CLIENT_SECRET=xxxx
AUTHORIZATION_URL="xxxx"
TOKEN_URL="xxxx"
PUBLIC_KEY=xxxx


EMAIL_UNAME=xxxx
EMAIL_PASS=xxxx
SMTP_SERVER=xxxx
SMTP_PORT=587


# ----------------------------------------------------------------------
# IPP
# ----------------------------------------------------------------------
JS_CLIENT_ID=xxxx
PREF_ENDPOINT="xxxx"
BACKEND_ENDPOINT="xxxx"
KC_MINVALIDITY=10
KC_ONLOAD="login-required"


SERVER_URL=${SERVER_URL} REALM_NAME=${REALM_NAME} CLIENT_ID=${CLIENT_ID} KC_ONLOAD=${KC_ONLOAD} KC_MINVALIDITY={KC_MINVALIDITY} PREF_ENDPOINT=${PREF_ENDPOINT} BACKEND_ENDPOINT=${BACKEND_ENDPOINT} SIGNOUT_URL=${SIGNOUT_URL} envsubst < config.json.template  > config.json
SERVER_URL=${SERVER_URL} REALM_NAME=${REALM_NAME} CLIENT_ID=${CLIENT_ID} CLIENT_SECRET=${CLIENT_SECRET} AUTHORIZATION_URL=${AUTHORIZATION_URL} TOKEN_URL=${TOKEN_URL} PUBLIC_KEY=${PUBLIC_KEY} DB_TYPE=${DB_TYPE} DB_HOST=${DB_HOST} DBUSER=${DBUSER} DBPASSWORD=${DBPASSWORD} POSTGRES_DB=${POSTGRES_DB} EMAIL_UNAME=${EMAIL_UNAME} EMAIL_PASS=${EMAIL_PASS} SMTP_SERVER=${SMTP_SERVER} SMTP_PORT=${SMTP_PORT} envsubst < ippuserinfo.conf.template  > ippuserinfo.conf