[keycloak]
server_url=${SERVER_URL}
realm_name=${REALM_NAME}
client_id=${CLIENT_ID}
client_secret=${CLIENT_SECRET}
authorization_url=${AUTHORIZATION_URL}
token_url=${TOKEN_URL}
public_key=${PUBLIC_KEY}

[database]
type=${DB_TYPE}
host=${DB_HOST}
username=${DBUSER}
password=${DBPASSWORD}
name=${POSTGRES_DB}

[email]
username=${EMAIL_UNAME}
password=${EMAIL_PASS}
smtp_server=${SMTP_SERVER}
smtp_port=${SMTP_PORT}

[client]
uri=https://${HOST_NAME}/